
# macos
.DS_Store

# application output
.xlschema
/tests/data/output/*
/tests/data/logs/*.log
output

# Sphinx documentation
/docs/_build/
/docs/*.pdf
/docs/coverage/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
/build/
/dist/
wheels/
*.egg-info
.eggs/

# Unit test / coverage reports
# .pytest_cache
.coverage
.coverage.*
.cache
*.cover
.hypothesis/

# Environments
.env
.venv
/venv/

# mypy / ruff / etc..
.*_cache